# web
services/web/.env
services/web/node_modules
services/web/.gitignore
services/web/README.md

#common
common/.env
common/node_modules
common/.gitignore
common/README.md

#apigateway
services/apiGateway/.env
services/apiGateway/node_modules
services/apiGateway/.gitignore
services/apiGateway/README.md

#user
services/user/.env
services/user/node_modules
services/user/.gitignore
services/user/README.md

#admin
services/admin/.env
services/admin/node_modules
services/admin/.gitignore
services/admin/README.md